<div class="logo-container">
  <img src="images/logo.jpg" class="logo" alt="">

  <div class="wellcome">
    Президент на связи
  </div>

<!--  <div class="second-text">-->
<!--    предстоящие события-->
<!--  </div>-->

  <div class="social">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-telegram">
      <path d="M21.92 5.58l-3.62 16.18c-.27 1.21-.99 1.52-2.02.95L10.89 18l-2.84 2.69c-.31.31-.56.56-1.15.56l.41-5.93 10.79-9.75c.47-.41-.1-.64-.73-.23L5.49 13.47l-5.92-1.85c-1.28-.41-1.31-.97.27-1.43L21.09 3.5c1.21-.41 2.26.29 1.83 2.08z"/>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-instagram">
      <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
      <path d="M16 11.37a4 4 0 1 1-7.9 1.26 4 4 0 0 1 7.9-1.26z"></path>
      <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
    </svg>
  </div>


</div>
