<!-- src/app/header/header.component.html -->
<mat-toolbar color="primary" class="dark-toolbar">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  @if (user) {
    <span>Привет {{user.first_name ? user.first_name : user.username}}</span>
  } @else {
    <span>Добро пожаловать!</span>
  }

</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
<!--    <mat-toolbar>-->
<!--      <button mat-icon-button (click)="toggleSidenav()">-->
<!--        <mat-icon>close</mat-icon>-->
<!--      </button>-->
<!--    </mat-toolbar>-->
    <mat-nav-list class="content-container">
      <a mat-list-item routerLink="/" (click)="closeSidenav()">Главная</a>
      <a mat-list-item routerLink="/my-events" (click)="closeSidenav()">Мои События</a>
      <a mat-list-item routerLink="/contacts" (click)="closeSidenav()">Контакты</a>
    </mat-nav-list>
    <div class="close-button">
      <button mat-raised-button color="primary" (click)="toggleSidenav()">Закрыть</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <router-outlet></router-outlet>

<!--    <pre>{{user | json}}</pre>-->
  </mat-sidenav-content>
</mat-sidenav-container>
