<div class="" *ngFor="let event of events">
  <div class="card" (click)="goToEvent(event.id)">
    <div class="card-header">
      <div class="date">
        <span class="date-number">25</span>
        <span class="date-value">мая</span>
      </div>
      <div class="title">
        WTTC PARTY
      </div>
      <div class="star">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-star">
          <polygon
            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
        </svg>
      </div>
    </div>

    <div class="card-body">
      <div class="card-image">
        <img src="images/event-pic.jpg" class="logo" alt="">
      </div>
    </div>

    <div class="description">
      <strong>🟡 Условия:</strong>
      <strong>Старт 25 мая 16:00 и финиш 26 мая 14:00</strong>
      <p> Завершение основной программы <strong>26 Мая 6:00 утра, далее After party до 14:00</strong></p>
      <p> Заезд гостей купивших <strong>VIP</strong> (забронировав комнату) <strong>25 мая в 16:00 и выезд 26 мая
        15:00</strong></p>
      <br>
      <p>Количество гостей - 👬 <strong>100</strong>
      </p>
      <p>Количество VIP номеров - 💛 <strong>12</strong></p>
      <br>
      <strong>Стоимость билета - 💰 <strong>2000 бат</strong>
        Что входит в билет:</strong>
      <ul>
        <li>
          - проход на вечеринку
        </li>
        <li>
          - шведский стол 💊💊💊

        </li>
        <li>- один любой напиток на
          выбор
        </li>
      </ul>
      <strong>Стоимость 💛 VIP - 13000 бат 💰
        Что получает VIP гость:</strong>
      <ul>
        <li>- собственный номер на сутки с 25 мая 16:00 и выезд 26 мая 15:00</li>
        <li>- проход на вечеринку + 1 VIP гость</li>
        <li>- шведский стол</li>
        <li>- бар всё включено для себя и второго гостя</li>
      </ul>
      <strong>🟩Программа🟩</strong>
      <p>🔊Line up:</p>
      <p>🔊MR.PRESIDENT</p>
      <p>🔊IZI</p>
      <p>🔊SNGI</p>
      <p>🔊SMBO</p>
      <p>🔊BIZOUO</p>
      <p>🔊MATUMBA</p>
      <p>🔊JOHNY QUE</p>
      <p>🔊OVERKWACID</p>

      <strong>Способы оплаты (THB/RUB/USDT)</strong>
    </div>

  </div>
</div>
